# Ignorer les fichiers de données brutes
data/
!data/**/*.dvc
*.csv
data/raw/fer2013.csv

# Environnement virtuel
venv/

# Cache Python
__pycache__/
*.pyc
*.pyo

# Fichiers Jupyter checkpoint
.ipynb_checkpoints/

# Fichiers systèmes
.DS_Store
/data
